<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a href="@Url.Action("Index","Dashboard")">
            <i class="fa fa-edit"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("ListTeacher","Member")">
            <i class="fa fa-table"></i> <span>Teacher</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("ListStudent","Member")">
            <i class="fa fa-edit"></i> <span>Student</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("Index","Competition")">
            <i class="fa fa-table"></i> <span>Competitions</span>
        </a>
    </li>
</ul>