@model InstituteOfFineArts.Models.Award

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Award</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubmissionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
