@{
    ViewBag.Title = "About";
}


<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About Us
                </h1>
                <p class="text-white link-nav"><a href="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="About"> About Us</a></p>
            </div>
        </div>
    </div>
</section>
<section class="quote-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 quote-left">
                <h1>
                    <span>Art</span> gives soul to the universe, <br>
                    wings to the <span>mind</span>, flight <br>
                    to the <span>imagination</span>.
                </h1>
            </div>
            <div class="col-lg-6 quote-right">
                <p>
                    Motivated purposes of art refer to intentional, conscious actions on the part of the artists or creator. These may be to bring about political change, to comment on an aspect of society, to convey a specific emotion or mood, to address personal psychology, to illustrate another discipline, to (with commercial arts) sell a product, or simply as a form of communication.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="service-area section-gap" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-clock"></span>
                    <h4>Openning Hours</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed.
                    </p>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-rocket"></span>
                    <h4>Ongoing Exhibitions</h4>
                    <p>
                        On every July, a lot of amazing submission from our student are showed.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-briefcase"></span>
                    <h4>Openning Events</h4>
                    <p>
                        Many event for our student are organized in every month.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-gap info-area" id="about">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Few words about Institude Of Fine Art</h1>
                    <p>Art is the only place you can do what you like . That's freedom.</p>
                </div>
            </div>
        </div>
        <div class="single-info row mt-40">
            <div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src="~/Content/Homepage/img/pages/about-img.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">
                        Bring us amazing <br>
                        We will bring it  <br>
                        to the world
                    </h2>
                    <p>
                        Institude of fine art was created in spring 2020 by Minh, Hà , Lâm , Quốc Anh.
                    </p>
                    <br>
                    <p>
                        Art is a diverse range of human activities in creating visual, auditory or performing artifacts (artworks), expressing the author's imaginative, conceptual ideas, or technical skill, intended to be appreciated for their beauty or emotional power. Other activities related to the production of works of art include the criticism of art, the study of the history of art, and the aesthetic dissemination of art
                    </p>
                    <br>
                    <p>
                        Motivated purposes of art refer to intentional, conscious actions on the part of the artists or creator. These may be to bring about political change, to comment on an aspect of society, to convey a specific emotion or mood, to address personal psychology, to illustrate another discipline, to (with commercial arts) sell a product, or simply as a form of communication.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
