
/* =Singe Post/Page Pagination
----------------------------------------------- */
.page-links a:hover span {
    input[type=text] background-color: #1FA67A;
    border: 1px solid #1FA67A;
    color: #fff;
}
/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* =Media
----------------------------------------------- */



/* Make sure embeds and iframes fit their containers */

/* =Widgets
----------------------------------------------- */

.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}
.widget > ul > li,
li.recentcomments {
  border-bottom: 1px solid #EEE;
  position: relative;
  display: block;
  padding: 10px 0;
}
.widget ul li {
    list-style: none;
}
.widget ul {
    padding: 10px 10px;
}
.widget-title {
  border-bottom: 1px solid #eee;
}
.widget ul.nav.nav-tabs {
  padding: 0;
}
.tab-content ul li {
  list-style: none;
}
#secondary .widget_archive ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_recent_comments ul li:before {
  font-family: fontawesome;
  margin-right: 10px;
}
#secondary .widget_archive ul li:before {
  content: '\f073';
}
#secondary .widget_categories ul li:before {
  content: '\f115';
}
#secondary .widget_recent_comments ul li:before {
  content: '\f0e5';
}
.tab-content .tab-thumb {
  float: left;
  margin-right: 8px;
  padding-top: 5px;
  float: left;
  line-height: 0px;
  width: 60px;
  height: 60px;
}
.tab-content li {
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 8px;
  padding: 0 0 6px;
}
.tab-content .tab-entry {
  display: block;
}
.tab-content > .active {
  border: 1px solid #E8E8E8;
  border-top: none;
}
.tab-content ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-content .tab-entry {
  font-size: 14px
}
.tab-comment {
  font-size: 18px;
  padding: 0 10px;
}
.nav-tabs > li > a {
  border-bottom-color: transparent;
  text-transform: uppercase;
}
.tab-content i {
  font-size: 12px;
}
.tab-thumb.thumbnail {
  margin-bottom: 5px;
}
.tab-content #messages li:before {
  content: '\f0e5';
  font-family: fontawesome;
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #1FA67A;
}

/* =Buttons
----------------------------------------------- */
.btn-default, .label-default {
  background-color: #1FA67A;
  border-color: #1FA67A;
}
.btn-default:hover, .label-default[href]:hover, .label-default[href]:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
  background-color: #1b926c;
  border-color: #1b926c;
}
.btn.btn-default {
    color: #FFF;
}
/* =Infinite Scroll
----------------------------------------------- */

/* =Custom Styles
----------------------------------------------- */
/* =Navigation
----------------------------------------------- */

/* =Comments
----------------------------------------------- */


/* =Attachment styling
----------------------------------------------- */
/* =Footer
----------------------------------------------- */
